<div class="panel panel-success">
  <p id="notice"><%= notice %></p>

  <p>
    <div class="panel-heading">
      <strong>Description:</strong>
    </div>
    
    <div class="panel-body">
      <%= @pin.description %>
    </div>
  </p>

  <div class="panel-footer">
    <%= link_to 'Edit', edit_pin_path(@pin) %> |
    <%= link_to 'Back', pins_path %>
  </div>
</div>
