<div class="jumbotron text-center">
  <h1>Welcome to <i><b>My Pins</b></i></h1>
  <p>
    <%= link_to "Log In", "#", class: "btn btn-lg btn-warning" %>
    <%= link_to "Sign Up", "#", class: "btn btn-lg btn-danger" %>
  </p>
</div>